#root{
    height: fit-content !important;
}

#tituloMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: 3.5%;
}

#tituloMain h1{
    color: white;
}

#tituloMain select{
    height: 5vh;
    width: 20%;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 1.5%;
}

#tituloMain select:focus{
    outline: transparent;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(255, 255, 255);
    word-wrap: break-word;
    border-radius: 20px;
}

.produtos img{
    height: 24vh;
    width: 19vh;
    margin-top: 8%;
    margin-bottom: 8%;
}

.descricao{
    margin-bottom: 4%;
}

.preco{
    font-weight: bold;
    margin-bottom: 9%;
}

main button{
    background-color: #b4d4ffaf;
}

main button:hover{
    background-color: #82b7fdaf;
}